html, body {
    height: 100%;
    width: 100%;
}
body {
  background-color:#fff;
  padding:0;
  width:100%;
  font-family: 'Roboto', Arial;
}

p {
	font-family: 'Roboto', Arial;
	margin:0;
	font-size: 15px;
	text-indent: 20px;
}

h1 {
	text-align:center;
	font-size:26px;
}
body.printPage {text-align:left}
body.printPage h1 {margin:15px}
#yii-debug-toolbar-swither {top:50px}
#yii-debug-toolbar-swither .close  {opacity:1}

/****************************************/
#wrap { 
    border:none;
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
	width:1140px;
	padding:0;
}

#main {
    clear: both;
    padding: 0 0 85px;
	margin-top: 40px;
}



#head {height: 160px; margin:0px; position: relative; overflow:hidden;}
#head .logo {margin-top:15px; height: 113px; display:inline-block;float:left;}
#head .logo img {border: 0 none;}
#head .cname {margin-top:15px;margin-left:20px;display:inline-block;}
#head .cname .cname-name {color: #333333; font: 36px 'Roboto', Arial;margin-top:10px;}
#head .cname p {color: #33333; font: 25px 'Roboto', Arial; margin-top: 3px; padding: 0;text-indent:0;}
#head .search  {display:inline-block;margin-top:15px;float:right;width: 220px;}
#head .search .navbar-form {margin:0;padding:0;}


.b-picture {
	width:100%;
	height:150px;
	background: url('/themes/business/gfx/b-picture_summer.jpg') no-repeat 0 0;
	background-size: cover;
}


#footer {margin: 0 auto; position: relative;padding:20px 0;width:1140px;width:100%;background:#eee;}
#footer .container {width:1140px;margin:0 auto;padding:0;}
#footer  .logo { height: 80px; display:inline-block;float:left;}
#footer .logo img {border: 0 none;height:80px}
#footer  .cname {margin-left:15px;display:inline-block;}
#footer  .cname .cname-name {color: #555; font: 25px 'Roboto', Arial;}
#footer  .cname p {color: #555; font: 16px 'Roboto', Arial; margin-top: 3px; padding: 0;text-indent:0;}

#text_body {

}

#container {
}

#sidebarLeft, #sidebarRight {margin-top: 25px;}
#sidebarLeft div {margin:20px 0;}
#sidebarLeft div:first-child {margin-top:0;}
.block .inside {padding: 10px 25px 0;}

#sidebarLeft div a img {min-width:280px;max-width:280px;}

table.table0 td p, table.table1 td p, table.table2 td p {
    margin: 0;
    padding: 0;
}
table.table0 {
    border-collapse: collapse;
}
table.table0 td {
    border: medium none;
    padding: 5px;
}
table.table1 {
    border-collapse: collapse;
}
table.table1 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 {
    border-collapse: collapse;
}
table.table2 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 th {
    background: none repeat scroll 0 0 #FF7B12;
    border: 1px solid #FFFFFF;
    color: #111111;
    padding: 8px 5px;
    text-align: center;
}
table.table3 {
    border-collapse: collapse;
}
table.table3 td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    text-align: center;
    width: 8px;
}
table.table3 td.name {
    border: 1px solid #CCCCCC;
    padding: 1px 1px 1px 5px;
    text-align: left;
    width: 8px;
}
table.table3 th {
    background: none repeat scroll 0 0 #3863BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}
table.table1 tr:hover, table.table2 tr:hover, table.table3 tr:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

/* Виджет меню слева */
.b-menu-side-list {position: relative; border:1px solid #eee}
.b-menu-side-list ul {list-style: none;}
.b-menu-side-list .nav-list  li  a {padding:10px 15px}
.b-menu-side-list .nav-list .nav-list  li  a {padding:8px 15px}
.b-menu-side-list .nav-list .nav-list .nav-list  li  a {padding:6px 15px}
.b-menu-side-list li li {font-size:16px;}
.b-menu-side-list .nav-list .nav-list > .active > a {background:none; color:#000}
.b-menu-side-list li li li {font-size:14px;}
.b-menu-side-list .nav-list .nav-list .nav-list > .active > a {background:none; font-weight:bold; color:#000}


.b-menu-side-list {font-family: 'Roboto', Arial;font-size:16px;border:1px solid #ccc;border-radius:5px;}
.b-menu-side-list li a {border-bottom: 1px dotted #ccc;margin:0 10px;color: #555;font-weight:500;}
.b-menu-side-list li:last-child a {border:none;}
.b-menu-side-list li:hover {
	background: #5ca2c5;
}
.b-menu-side-list li:first-child:hover {
	border-radius:   4px 4px 0 0;
}

.b-menu-side-list li.item:last-child:hover, .b-menu-side-list li.item:last-child:active {
	border-radius: 0 0 4px 4px;
}
.b-menu-side-list li a:hover, .b-menu-side-list li a:active {
background: none;
color: #fff;
}

.wShare{margin:0}
.wShare td{text-align:left;}

.b-ajax-process {background:url(../../../ngin/assets/gfx/loading_s.gif) no-repeat 0 0; display:inline-block; visibility:hidden; width:16px; height:16px; line-height:16px; vertical-align:text-top;}
.b-ajax-process-active {visibility:visible;}

.pagination .b-ajax-process {margin-left:20px; margin-top:-15px}
#back-top {
    display: none;
}
#back-top { font-size: 20px;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.3; 
    position: fixed;
    top: 0; 
    height:100%; cursor: pointer;
    width: 40px;
}
#back-top:hover{ opacity: 0.9;  background:#F0F0F0;}
#back-top span{display:block; padding:10px}


#sidebarLeft {
	display:inline-block;
	float:left;
	width:280px;
}

#content {
	display:inline-block;
	float:left;
	width:830px;
	font-family: 'Roboto', Arial;
	margin-left:30px;
}

#content p {
	text-indent:0;
}

.page-header {
	margin:0;
	padding:0;
	border:0;
}

.b-photogallery-random-widget {
	font-family:'Roboto', Arial;
	border:1px solid #ccc;
	border-radius:5px;
	text-align:center;
}

.b-photogallery-random-widget a.photogallery-link {
	color:#fff;
	background: #5ca2c5;
	border-radius:   4px 4px 0 0;
	text-decoration:none;
	width:100%;
	display:block;
	margin:0;
	font-size:19px;
	padding:5px 0;
}

.b-photogallery-random-widget img {
	padding:20px;
	max-width:248px;
}

.b-news-widget h2 {
	font-family: 'Roboto', Arial;
	text-align:center;
	font-size:24px;
}

.b-news-widget .date {
	color: #ccc !important;
	text-align:right;
}

.b-news-widget .item h3 a{
	font-weight:600;
	color: #333;
	font-size:16px;
}

.b-news-widget .photo {
	margin:10px 10px 0 0 !important;
}

.b-news-widget .photo img {
	width:100px;
	height:75px;
}

.b-news-widget .text {
	font-family: 'Roboto', Arial !important;
	font-size:14px !important;
	margin-top:8px !important;
}

.b-news-widget .archive a{
	float:right;
	margin-top: 10px !important;
	color: #333;
	font-size:16px !important;
}

.b-informers {
    display: inline-block;
    float: right;
}
#sputnik-informer img {
    margin-top: 5px;
}
